<footer class="footer">
  <div class="container">
    <div class="footer_top">
      <div class="footer_logo">
        <a class="footer_logo_link" href="https://www.proplan.ru/" target="_blank">
          <img class="footer_logo_img" src="./img/logo-footer.png" alt="Purina Pro Plan" title="Purina Pro Plan">
        </a>
      </div>
      <div class="footer_social">
        <a class="footer_social_item facebook" data-id="fb" href="https://www.facebook.com/ProPlanRus" target="_blank"></a>
        <a class="footer_social_item vk" data-id="vk" href="https://vk.com/purina_proplan_group" target="_blank"></a>
      </div>
    </div>
    <div class="footer_bottom">
      <nav class="footer_nav">
        <div class="footer_nav_item"><a class="footer_nav_link" href="https://www.proplan.ru/privacy_policy.pdf" target="_blank">Политика Конфиденциальности</a></div>
        <div class="footer_nav_item"><a class="footer_nav_link" href="https://www.proplan.ru/legal/" target="_blank">Правовая информация</a></div>
        <div class="footer_nav_item"><a class="footer_nav_link" href="https://www.proplan.ru/purina/proplan/frequently-asked-questions/" target="_blank">Часто задаваемые вопросы</a></div>
        <div class="footer_nav_item"><a class="footer_nav_link" href="https://www.proplan.ru/vet/" target="_blank">Клуб ветеринарных специалистов</a></div>
      </nav>
      <div class="footer_text">Purina 2020 ® Владелец товарных знаков: Société des Produits Nestlé S.A.</div>
    </div>
  </div>
</footer>