<header id="header" class="header">
  <div class="header_top">
    <div class="header_purina">
      <a class="header_purina_link" href="https://www.purina.ru/" target="_blank">
        <img class="header_purina_img" src="./img/logo.png" alt="Purina" title="Purina">
      </a>
    </div>
  </div>
  <div class="header_bottom">
    <div class="container">
      <div class="header_logo">
        <a class="header_logo_link" href="https://www.proplan.ru/" target="_blank">
          <img class="header_logo_img" src="./img/logo-header.png" alt="Purina Pro Plan" title="Purina Pro Plan">
        </a>
      </div>
      <nav class="header_nav">
        <a class="header_nav_item" href="#product">Кормление</a>
        <a class="header_nav_item" href="#article">Забота</a>
        <a class="header_nav_item" href="#shop">Где купить</a>
      </nav>
      <div class="header_hamburger"></div>
      <div class="header_btn">
        <a class="header_nav_item" href="#shop">Где купить</a>
      </div>
    </div>
  </div>
</header>
<div class="header_mobile">
  <div class="container">
    <nav class="header_nav mobile">
      <a class="header_nav_item mobile" href="#product">Кормление</a>
      <a class="header_nav_item mobile" href="#article">Забота</a>
      <a class="header_nav_item mobile" href="#shop">Где купить</a>
    </nav>
  </div>
</div>