<section class="product">
  <div class="container">
    <h2 id="product" class="title">Узнайте, как заботиться <br> о здоровье вашего питомца</h2>
    <div class="product_main active">
      <div class="description">Выберите рацион и узнайте о нем подробнее</div>
      <div class="product_wrapper">
        <div class="product_item" data-slide="1">
          <div class="product_img one"></div>
          <div class="product_name">Сухой рацион</div>
        </div>
        <div class="product_item" data-slide="2">
          <div class="product_img two"></div>
          <div class="product_name">Влажный рацион</div>
        </div>
        <div class="product_item" data-slide="3">
          <div class="product_img three"></div>
          <div class="product_name">Лакомства</div>
        </div>
        <div class="produc_plus"></div>
      </div>
    </div>
    <div class="product_result">
      <div class="product_close"></div>
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="product_box">
              <div class="product_box_top">
                <div class="product_box_name" data-slide="3">Лакомства</div>
                <div class="product_box_name active" data-slide="1">Сухой рацион</div>
                <div class="product_box_name" data-slide="2">Влажный рацион</div>
              </div>
              <div class="product_box_left">
                <div class="product_box_name">Сухой рацион</div>
                <div class="product_box_img_wrapper">
                  <img class="product_box_img" src="./img/product-1.png">
                </div>
                <div class="product_box_info">Разработаные специально <br> для мелких пород собак</div>
              </div>
              <div class="product_box_right">
                <div class="product_box_caption">Сухой корм Pro&nbspPlan<sup>®</sup> Small & Mini отвечает потребностям каждой маленькой собаки</div>
                <ul class="product_box_list">
                  <li class="product_box_item">комплекс OptiStart<sup>®</sup> укрепит иммунитет щенка;</li>
                  <li class="product_box_item">комплекс OptiBalance<sup>®</sup> поддержит здоровье взрослой собаки;</li>
                  <li class="product_box_item">комплекс OptiDerma<sup>®</sup> поможет оставаться коже здоровой, а шерсти блестящей;</li>
                  <li class="product_box_item">комплекс OptiDigest<sup>®</sup> поддержит здоровье пищеварительной системы;</li>
                  <li class="product_box_item">комплекс OptiAge<sup>®</sup> поддержит мозговую активность собак в зрелом возрасте.</li>
                </ul>
                <a class="product_box_link" href="https://shop.purina.ru/sobaki/suhie-korma/pro-plan/shopby/prn_razmer-melkie_i_karlikovye" target="_blank">Все продукты</a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product_box">
              <div class="product_box_top">
                <div class="product_box_name" data-slide="1">Сухой рацион</div>
                <div class="product_box_name active" data-slide="2">Влажный рацион</div>
                <div class="product_box_name" data-slide="3">Лакомства</div>
              </div>
              <div class="product_box_left">
                <div class="product_box_name">Влажный рацион</div>
                <div class="product_box_img_wrapper big">
                  <img class="product_box_img" src="./img/product-2.png">
                </div>
                <div class="product_box_info">Разработаные специально <br> для мелких пород собак</div>
              </div>
              <div class="product_box_right">
                <div class="product_box_caption">Влажный рацион Pro&nbspPlan<sup>®</sup> Optisavour<sup>®</sup></div>
                <ul class="product_box_list">
                  <li class="product_box_item">разнообразие текстур придется по вкусу даже самым привередливым питомцам;</li>
                  <li class="product_box_item">натуральный пребиотик в составе поддержит правильное пищеварение.</li>
                </ul>
                <a class="product_box_link" href="https://shop.purina.ru/brands/pro-plan/shopby/prn_naznachenie-sobaki/prn_tip-vlazhnyy_korm" target="_blank">Все продукты</a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product_box">
              <div class="product_box_top">
                <div class="product_box_name" data-slide="2">Влажный рацион</div>
                <div class="product_box_name active" data-slide="3">Лакомства</div>
                <div class="product_box_name" data-slide="1">Сухой рацион</div>
              </div>
              <div class="product_box_left">
                <div class="product_box_name">Лакомства</div>
                <div class="product_box_img_wrapper big">
                  <img class="product_box_img" src="./img/product-3.png">
                </div>
                <div class="product_box_info">Разработаные специально <br> для мелких пород собак</div>
              </div>
              <div class="product_box_right">
                <div class="product_box_caption">Полезное лакомство Pro&nbspPlan<sup>®</sup> Dental&nbspPro&nbspBar<sup>®</sup></div>
                <ul class="product_box_list">
                  <li class="product_box_item">поддерживает здоровье зубов и десен;</li>
                  <li class="product_box_item">мягко массирует десны, благодаря эластичной структуре и успокаивающему эффекту гвоздики;</li>
                  <li class="product_box_item">помогает зубам и костям оставаться крепкими, благодаря сбалансированному содержанию минеральных веществ.</li>
                </ul>
                <a class="product_box_link" href="https://shop.purina.ru/brands/pro-plan/shopby/prn_naznachenie-sobaki/prn_tip-lakomstvo" target="_blank">Все продукты</a>
              </div>
            </div>
          </div>
        </div>
        <!-- Add Pagination -->
        <!--<div class="swiper-pagination"></div>-->
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
  </div>
</section>